font-face 
{
    font-family: 'droid_sansregular';
    src: url('font/DroidSans-webfont.eot');
    src: url('font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/DroidSans-webfont.woff') format('woff'),
         url('font/DroidSans-webfont.ttf') format('truetype'),
         url('font/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'droid_sansregular', 'Cambria' ,'Calibri' ;

}
h1{
	border: 3px solid blue;
	text-align: center;
	box-shadow: 5px 9px 11px;
	color: #780080;
	background-color: #46bfb4;
	border-radius: 25px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}
aside{
	width: 15%;
	height: 100vh;
	display: inline-block;
	background-image: url('images/image2.jpg');
	border: 1px dotted blue;
}
section{
	width: 84%;
	display: inline-block;
	vertical-align: top;
	background: #dbdbe8;	
	height: 100vh;
	
}
mark{
	background-color: #e91e8e;
	color: blue;
}
#mes_images img {
	border: 5px dotted blue; 
	width: 32%;
}